.certificateCard {
    position: fixed;
    top: 30%;
    left: 50%;
}

.btn {
width: 150px;
height: 50px;
}

.confirm_text {
    position: fixed;
    top: 30%;
    left: 30%;
}

.home_btn {
    position: fixed;
    top: 50%;
    left: 45%;
}


#awardPicker {
    margin-top: 2px;
}

#dateLabel {
    margin-top: 30px;
}

#awardLabel {
    margin-top: 20px;
}

.verify {
    width: 100px;
    height: 500px;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 150px;
    right: 0;
    
    margin: auto;
}